<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #loader { position:absolute; top:0; left:0; width:100%; height: 100%; background: rgba(0,0,0,0.6); color:#ffffff;}
      #toggle { position:fixed; top:0%; right:0%; width:10%; height: 10%;}
      #toggle > p { font-size: 48px;}
      #m{ width:80%;}
      #q{ background: #fefe51;}
      #s{ background: #e500f6;}
      .err { background: #ff0014;}
      .hidden {display: none;}
    </style>
  </head>
  <body>
    <ul id="messages"></ul>
    <div id="canvasstats"></div>
    <canvas id="ultros">Not supported</canvas>
    <div id="toggle"><p>=</p></div>
    <form action="">
      <input id="fileloader" name="fileloader" type="file">
      <label for="effect">Effect</label>
      <select name="effect">
        <option value="a">zoompth</option>
        <option value="b">zoom_b</option>
        <option value="c">zoom_r</option>
        <option value="d">crunch</option>
        <option value="e">pixelate</option>
        <option value="f">outtashape</option>
        <option value="g">outtacircle</option>
        <option value="h">outtasquare</option>
        <option value="i">outtatriangle</option>
        <option value="j">rgb_2_bgr</option>
        <option value="k">rgb_2_gbr</option>
        <option value="l">rgb_2_grb</option>
        <option value="m">rgb_2_brg</option>
        <option value="n">wet_reverb</option>
        <option value="o">deplace</option>
        <option value="p">pixelsort</option>
        <option value="s">smosht</option>
        <option value="t">posht</option>
        <option value="u">fosht</option>
        <option value="v">losht</option>
        <option value="w">gradient_blend_add_sample</option>
        <option value="x">gradient_blend_add_source</option>
        <option value="y">gradient_blend_subtract_sample</option>
        <option value="z">gradient_blend_subtract_source</option>
        <option value="A">radient_blend_add_sample</option>
        <option value="C">radient_blend_add_source</option>
        <option value="B">radient_blend_subtract_sample</option>
        <option value="D">radient_blend_subtract_source</option>
      </select>
      <label for="order">Buffer Order</label>
      <select name="order">
        <option value="0">Buffer -> Copy</option>
        <option value="1">Copy   -> Buffer</option>
        <option value="2">Buffer -> Buffer</option>
        <option value="3">Copy   -> Copy</option>
      </select>
      <label for="channel">Bypass Color Channel</label>
      <select name="channel">
        <option value="0">- - -</option>
        <option value="7">R G B</option>
        <option value="3">R G -</option>
        <option value="5">R - B</option>
        <option value="6">- G B</option>
        <option value="1">R - -</option>
        <option value="2">- G -</option>
        <option value="4">- - B</option>
      </select>
      <label for="threshold">Threshold</label>
      <input name="threshold" type="range" min="1" max="255" step="1" value="1">
      <label for="depth">Depth</label>
      <input name="depth" type="range" min="0.1" max="25" step="0.1" value="1.0">
      <label for="xspace">X-Space</label>
      <input name="xspace" type="range" min="1" max="255" step="1" value="5">
      <label for="yspace">Y-Space</label>
      <input name="yspace" type="range" min="1" max="255" step="1" value="5">
      <label for="weight">Weight</label>
      <input name="weight" type="range" min="1" max="255" step="1" value="5">
      <label for="stroke">Stroke</label>
      <input name="stroke" type="range" min="1" max="255" step="1" value="5">
      <label for="color">Color</label>
      <input name="color" type="color" value="#FFFFFF">

      <input id="m" autocomplete="off" /><button id="q">queue</button><button id="s">Send</button>
    </form>
    <div id="loader" class="hidden"> Loading...</div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    /* BLOB shim https://github.com/rauchg/weplay-web/blob/master/client/blob.js */
    function blobToImage(imageData) {
      if(Blob && 'undefined' != typeof URL) {
        var blob = new Blob([imageData], {type: 'image/png'});
        return URL.createObjectURL(blob);
      } else if (imageData.base64) {
        return 'data:image/png;base64,' + imageData.data;
      } else {
        return 'about:blank';
      }
    }
    // img.src = blobToImage(data);

    var socket = io();
    var queue = [];
    var globalArray;
    document.querySelector('#toggle').addEventListener('click', function () {
      var form = document.forms[0];
      if (form.classList.contains('hidden')) {
        form.classList.remove('hidden');
      } else {
        form.classList.add('hidden');
      }
    })
    document.querySelector('#m').addEventListener('change', function () {
      var m = document.querySelector('#m'), cache;
      setTimeout(function() { 
        if (m.value != cache) {
          socket.emit('user typing');     
        }
      }, 100);
    });

    document.querySelector('#q').addEventListener('click', function(e) {
      e.preventDefault();
      var form = document.forms[0],
          canvas = document.querySelector('#ultros');
      
      var options = {};
      options.height = canvas.height;
      options.width = canvas.width;
      options.length = canvas.width * canvas.height * 4;
      options.effect = form.effect.value.charCodeAt();
      options.order  = form.order.value;
      options.channel = form.channel.value;
      options.threshold = form.threshold.value;
      options.depth = form.depth.value;
      options.xspace = form.xspace.value;
      options.yspace = form.yspace.value;
      options.weight = form.weight.value;
      options.stroke = form.stroke.value;
      options.color = (form.color.value.split(1));

      queue.push(options);
    })
    document.forms[0].addEventListener('submit', function(e) {
      e.preventDefault();
      var params = {};
      var canvas = document.querySelector('#ultros');
      var ctx = canvas.getContext('2d');
      var imgData;
      document.querySelector('#loader').classList.remove('hidden');

      var dataURL = canvas.toDataURL();
      // imgData = ctx.getImageData(0, 0, canvas.width, canvas.height);
      // params.data = imgData.data;
      params.png = dataURL;
      params.options = queue;


      socket.emit('glitch', params);
      queue = [];
      var m = document.querySelector('#m');
      socket.emit('chat message', m.value );
      m.value = '';
      return false;
    });

    // socket.on('glitched', function(glitchedData){
    //   var canvas = document.querySelector('#ultros');
    //   var ctx = canvas.getContext('2d');
    //   var imgData = ctx.getImageData(0, 0, canvas.width, canvas.height);
    //   var idCache = imgData.data;
    //   globalArray = new Uint8ClampedArray(glitchedData.imgArray);
    //   for (var i = 0, l = idCache.length; i < l; ++i) {
    //     idCache[i] = globalArray[i];
    //   }
    //   console.log(glitchedData.imgArray, imgData.data);
    //   ctx.putImageData(imgData, 0, 0);
    //   document.querySelector('#loader').classList.add('hidden');

    // })

    // http://stackoverflow.com/questions/24107378/socket-io-began-to-support-binary-stream-from-1-0-is-there-a-complete-example-e
    socket.on('glitched', function(data) {
      var uint8Arr = new Uint8Array(data.buffer);
      var binary = '';
      for ( var i = 0, l = uint8Arr.length; i < l; ++i ) {
        binary += String.fromCharCode(uint8Arr[i]);
      }
      var base64String = window.btoa(binary);

      var img = new Image();
      img.onload = function() {
        var canvas = document.querySelector('#ultros');
        var ctx  = canvas.getContext('2d');
        ctx.drawImage(this, 0, 0);
      }
      img.src = 'data:image/png;base64,' + base64String;
      document.querySelector('#loader').classList.add('hidden');
    });


    socket.on('not glitched', function() {

      document.querySelector('#loader').classList.add('hidden');
    })

    socket.on('connected', function(user) {
      var li = document.createElement('li');
      li.innerText = user +  " connected";
      document.querySelector('#messages').appendChild(li);
    });

    socket.on('chat message', function(msg) {
      var li = document.createElement('li');
      li.innerText = msg;
      document.querySelector('#messages').appendChild(li);
    });

    socket.on('error', function(err) {
      var li = document.createElement('li');
      li.innerText = err;
      li.classList.add('error');
      document.querySelector('#messages').appendChild(li);
    })

    socket.on('user typing', function () {
      
    })



  var imageLoader = document.getElementById('fileloader');
  imageLoader.addEventListener('change', handleImage, false);
  var canvas = document.querySelector('#ultros');
  var ctx = canvas.getContext('2d');
  var canvasstats = document.querySelector('#canvasstats');
  function handleImage(e){
    // if (/.*(jpg|jpeg|png|gif)/gi.test(e.target.files[0].name) ){

    var reader = new FileReader();
    reader.onload = function(event){
        // console.log(e, e.target.files[0].name)

        try {

          var img = new Image();
          img.onload = function(){
              canvas.width = img.width;
              canvas.height = img.height;
              canvas.style.width = img.width + "px";
              canvas.style.height = img.height + "px";
              canvasstats.innerHTML = "<p>Height: " + canvas.height + "px</p><p>Width: " +  canvas.width + "px</p>";
              ctx.drawImage(img,0,0);
              /*
              if (img.height > 1600 || img.width > 1600) {
                canvas.style.width = Math.ceil(img.width / 4) + "px";
                canvas.style.height = Math.ceil(img.height / 4) + "px";
                canvasStats.style.height = Math.ceil(img.height / 4) + "px";
                canvasStats.style.width = Math.ceil(img.width / 4) + "px";
                // glitcher.cropFactor = 4;
              } else if (img.height > 800 || img.width > 800) {
                canvas.style.width = Math.ceil(img.width / 2) + "px";
                canvas.style.height = Math.ceil(img.height / 2) + "px";
                canvasStats.style.height = Math.ceil(img.height / 2) + "px";
                canvasStats.style.width = Math.ceil(img.width / 2) + "px";
                // glitcher.cropFactor = 2;
              } else {
                // glitcher.cropFactor = 1;
              }*/

              // glitcher.getImageData(this);
              // glitcher.passDataAlong(this);
              // glitcher.clearCrop();
          }
          img.src = event.target.result;
        } catch (err) {
          alert('There was an arror!', err);
        }
    }
    reader.readAsDataURL(e.target.files[0]);     

  }


/*

  Effect map
  case 'a' : zoomth(pixels, clone, opts);
  case 'b' : zoom_b(pixels, clone, opts);  
  case 'c' : zoom_r(pixels, clone, opts);
  case 'd' : crunch(pixels, clone, opts);
  // SHAPES 
  case 'e' : pixelate(pixels, clone, opts);
  case 'f' : outtashape(pixels, clone, opts);
  case 'g' : outtacircle(pixels, clone, opts);
  case 'h' : outtasquare(pixels, clone, opts);
  case 'i' : outtatriangle(pixels, clone, opts);
   // COLORSWAP 
  case 'j' : rgb_2_bgr(pixels, clone, opts);
  case 'k' : rgb_2_gbr(pixels, clone, opts);
  case 'l' : rgb_2_grb(pixels, clone, opts);
  case 'm' : rgb_2_brg(pixels, clone, opts);
  // AUIDO 
  case 'n' : wet_reverb(pixels, clone, opts);
  // DISPLACEMENTS 
  case 'o' : deplace(pixels, clone, opts);        
  // PIXELSORTS 
  case 'p' : pixelsort(pixels, clone, opts); 
  // SMOSHES 
  case 's' : smosht(pixels, clone, opts); 
  case 't' : posht(pixels, clone, opts); 
  case 'u' : fosht(pixels, clone, opts);  
  case 'v' : losht(pixels, clone, opts);
  // GRADIENT BLEND
  case 'w' : gradient_blend_add_sample(pixels, clone, opts);
  case 'x' : gradient_blend_add_source(pixels, clone, opts);
  case 'y' : gradient_blend_subtract_sample(pixels, clone, opts);
  case 'z' : gradient_blend_subtract_source(pixels, clone, opts);
  // RADIENT BLEND
  case 'A' : sample_poisson_add_8_bit(pixels, clone, opts);
  case 'B' : sample_poisson_subtract_8_bit(pixels, clone, opts);
  case 'C' : source_poisson_add_8_bit(pixels, clone, opts);
  case 'D' : source_poisson_subtract_8_bit(pixels, clone, opts);

*/

  </script>
  </body>
</html>